In [17]:
## KNN (on basis of rows which is closer to missing columns, using weighted - euclidean distance, mam-euclidian distance)
# advatage acuracy
# disadvatage more calculation
# In multivarite imputer  we fill nan on basis of rows
# K is no. of neigbhours
# taking mean from each members
# if missin value is missing in every columns we will used nan knn algo

In [4]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [6]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [8]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [10]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [20]:
knn = KNNImputer(n_neighbors=3,weights='distance')## you need to loopm here

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [21]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

In [14]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [15]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978