- Memorization : In computation, memorization or memorisation is an optimization technique  used primarilty to speed up computer programs by storing the result of expensive function call and returning the cached result when same imput occur again.

In [4]:
# Example of exponenial complexity = 2^n
#fib

def fib(n):
    if n== 1 or n==0:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [12]:
import time
start = time.time()
fib(40)
print(time.time() -start)

99.73102474212646

In [13]:
d ={0:1,1:1}

In [16]:
# Example of dynamic programming
# fib

def fib(n,d):
    if n in d:
        return d[n]
    else:
        d[n]=fib(n-1,d) + fib(n-2,d)
        return d[n]

In [18]:
start = time.time()
print(fib(40,d))
print(time.time() -start)

165580141
0.0

### MLP Memorization

- To update weights and Biases we need back propogation.
- dL/dw's -> L -> y_hat -> O's(ouput at nodes) -> W's in 1st layers (chain rule)

In [19]:
import numpy as np
import pandas as pd
import time

In [21]:
df = pd.read_csv('Social_Network_Ads.csv')

In [22]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [23]:
df = df[['Age','EstimatedSalary','Purchased']]

In [24]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [25]:
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)

In [29]:
model = Sequential()

model.add(Dense(10,activation='relu',input_dim=2))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='sigmoid'))