In [2]:
import pandas as pd

In [4]:
#df =  pd.read_csv("https://github.com/campusx-official/100-days-of-machine-learning/blob/main/day15%20-%20working%20with%20csv%20files/working-with-csv.ipynb")

In [69]:
## import from url
import requests
from io import StringIO

url="https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/aug_train.csv"

headers={'User-agent': 'Morzilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)

In [23]:
df.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0

In [8]:
### Tab seperated values

In [ ]:
# pd.read_csv(file, sep='\t', name=['serial_no', 'release_year', "vote", "yoner"]) #if columns name are not given#

In [12]:
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [13]:
df.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0

In [17]:
#df = pd.read_csv(data, index_col='enrollee_id')

In [18]:
## if no header
# pd.read(file, header=1)

In [19]:
#use cols parameter
# pd.read(filename, usecols=['gender', 'education', 'enroled_id'])

In [ ]:
#Sequese parameter
# pd.read(filename, usecols=['gender'], sequese=True)

In [ ]:
## skip rows
## pd.read(filename, skiprows=[0,1])

In [47]:
 for i in range(0,11,2):
        print(i)

0
2
4
6
8
10

In [52]:
pd.read_csv('E:\Data\Team.csv', skiprows=[i for i in range(0,11,2)])

    0   1    Kolkata Knight Riders
0   2   3      Chennai Super Kings
1   4   5         Rajasthan Royals
2   6   7           Mumbai Indians
3   8   9     Kochi Tuskers Kerala
4  10  11      Sunrisers Hyderabad
5  11  12  Rising Pune Supergiants
6  12  13            Gujarat Lions

In [54]:
pd.read_csv('E:\Data\Team.csv', nrows=5)

   Team_SK  Team_Id                    Team_Name
0        0        1        Kolkata Knight Riders
1        1        2  Royal Challengers Bangalore
2        2        3          Chennai Super Kings
3        3        4              Kings XI Punjab
4        4        5             Rajasthan Royals

In [56]:
## Encoding parameter
# utf-8 is normal
# e.g. contain emoji, laguage, hence cause unicode error

In [57]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/zomato.csv"

headers={'User-agent': 'Morzilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data) ##encoding= 'latin-1'

In [59]:
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [60]:
## skiping bal lines
#parsar error i.e. some data having  more colums
#pd.read_csv(folename, error_bad_lines=True)

In [61]:
#dtypes parameter
#pd.read(filename, dtype={target: int})

In [63]:
# handaling Dates
# pd.read_csv(filename, parse_dates=['date']) ## [colname:[[1,2,3]]] for single dates

In [ ]:
# def rename(name):
   #  if name ='Royal..':
   #     return "RBC"
   # else:
   #     name

In [64]:
## Converters
#pd.read_csv(filename, convereters={team1: rename} )

In [65]:
# na_values parameters
# pd.read(filename, na_values=['male','transgender'])

In [94]:
## Loading huge data sets in chunks
df= pd.read_csv("E:\Data\housing.csv", chunksize=5000)

In [95]:
for chunks in df:
    print(chunks.shape)

(5000, 10)
(5000, 10)
(5000, 10)
(5000, 10)
(640, 10)

In [96]:
### Json and sql data set

In [ ]:
# import pandas as pd
# pd.read_json(file.json) #as same as csv